.pie-h2 {
    background: url('../icons/icon_pie_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.folder-h2 {
    background: url('../icons/icon_folder_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.briefcase-h2 {
    background: url('../icons/icon_briefcase_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.people-h2 {
    background: url('../icons/icon_people_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.diagram-h2 {
    background: url('../icons/icon_diagram_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.arrow-h2 {
    background: url('../icons/icon_arrow_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.checkbox-h2 {
    background: url('../icons/icon_checkbox_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}


.pencil-h2 {
    background: url('../icons/icon_pencil_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}


.piggy-h2 {
    background: url('../icons/icon_piggy_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.laptop-h2 {
    background: url('../icons/icon_laptop_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}

.calculator-h2 {
    background: url('../icons/icon_calculator_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}


.bars-h2 {
    background: url('../icons/icon_bars_h2.png') no-repeat ;
    width:456px;
    height:50px;
    padding:10px 0 0 90px;
}


.piggy-h3 {
    background: url('../icons/icon_piggy_h3.png') no-repeat ;
    width:456px;
    height:30px;
    margin-left:-15px;
    padding:5px 0 0 60px;
    font-size:18px;
}
.briefcase-h3 {
    background: url('../icons/iconsm_briefcase.png') no-repeat ;
    width:456px;
    height:30px;
    margin-left:-15px;
    padding:5px 0 0 60px;
    font-size:18px;
}
.arrow-h3 {
    background: url('../icons/iconsm_arrow.png') no-repeat ;
    width:456px;
    height:30px;
    margin-left:-15px;
    padding:5px 0 0 60px;
    font-size:18px;
}
.checkbox-h3 {
    background: url('../icons/iconsm_checkbox.png') no-repeat ;
    width:456px;
    height:30px;
    margin-left:-15px;
    padding:5px 0 0 60px;
    font-size:18px;
}
.people-h3 {
    background: url('../icons/iconsm_people.png') no-repeat ;
    width:456px;
    height:30px;
    margin-left:-15px;
    padding:5px 0 0 60px;
    font-size:18px;
}
.pencil-h3 {
    background: url('../icons/iconsm_pencil.png') no-repeat ;
    width:456px;
    height:30px;
    margin-left:-15px;
    padding:5px 0 0 60px;
    font-size:18px;
}
.calculator-h3 {
    background: url('../icons/iconsm_calc.png') no-repeat ;
    width:456px;
    height:30px;
    margin-left:-15px;
    padding:5px 0 0 60px;
    font-size:18px;
}

